# Service prêt

In [1]:
import numpy as np

### Création d'un array nommé **data**:

In [2]:
hugo = [1800, 21, 0]
richard = [1500, 54, 2]
emilie = [2200, 28, 3]
pierre = [3000, 37, 1]
paul = [2172, 37, 2]
deborah = [5000, 32, 0]
yohann = [1400, 23, 0]
anne = [1200, 25, 1]
thibault = [1100, 19, 0]
emmanuel = [1300, 31, 2]

tableau = [hugo, richard, emilie, pierre, paul, deborah,
           yohann, anne, thibault, emmanuel]

display(tableau)

data = np.array(tableau)

[[1800, 21, 0],
 [1500, 54, 2],
 [2200, 28, 3],
 [3000, 37, 1],
 [2172, 37, 2],
 [5000, 32, 0],
 [1400, 23, 0],
 [1200, 25, 1],
 [1100, 19, 0],
 [1300, 31, 2]]

### Affichage des informations relatives à *paul*:

In [3]:
revenu, age, nombre_enfant = data[4,:]
print(f"Revenu: {revenu}€, age: {age}ans, nombre d'enfants: {nombre_enfant}")

Revenu: 2172€, age: 37ans, nombre d'enfants: 2

### Calcul des mensualites maximals de *paul*:

In [4]:
mensualite = round(revenu*0.35)
print("Mensualités maximales:", mensualite,"€")

Mensualités maximales: 760 €

### Ajout d'un nouveau client:

In [5]:
louise = [1900,21,1]
np.vstack((data, louise))

array([[1800,   21,    0],
       [1500,   54,    2],
       [2200,   28,    3],
       [3000,   37,    1],
       [2172,   37,    2],
       [5000,   32,    0],
       [1400,   23,    0],
       [1200,   25,    1],
       [1100,   19,    0],
       [1300,   31,    2],
       [1900,   21,    1]])

### Ensemble des revenus de la clientèle:

In [6]:
revenu = data[:,0]
display(revenu)

array([1800, 1500, 2200, 3000, 2172, 5000, 1400, 1200, 1100, 1300])